.new-tweet {
  border-radius: 10px;
  border-style: outset;
  border-color: #CDD5D9;
  background: #eeeeee;
  padding: 2em;
}

h2 {
  margin-top: 0;
  font-size: 175%;
  border-bottom-style: solid;
}

textarea {
  padding: 0.5em;
  width: 100%;
}

.counter {
  float: right;
}

.overlimit {
  color: red;
}

.error {
  color: red;
  padding:1px 20px 1px 20px;
}